doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      #logo Chess Ranking V2.0  
      #dvUserInfo 
        #{errMsg}
        span
        a(href="/login") 登录
