doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      #logo Chess Ranking V2.0
      if loginUser
        #dvUserInfo 
          当前用户： 
          b #{loginUser['username']} (#{loginUser['nickname']})
          span
          span
          a(href="/logout") Logout
    section 
      block content
    footer
