body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0px -130px;
}
body >div {margin:auto;}
a {
  color: #085dc4;
  padding: 3px 8px;
  text-decoration: none;
}
body header{
  display: flex;
  background:#50618d; 
  vertical-align: middle;
  height: 50px;
}
body header a{
  color:#FFF
}
#logo{
  width: 90%;
  color: #ffffff;
  font-size: 28px;
  padding: 10px 20px;
  vertical-align: middle;
}
body section{
  margin: 0 auto;
  min-width: 900px;
  width: 50%;
  min-height: 500px;
}
#dvUserInfo{
  text-align: right; 
  padding: 15px 8px; 
  min-width: 300px;  
  color: #ffffff;
  height: 100%;
  vertical-align: middle;
}
#dvMain{
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  padding-top: 8px;
  padding-bottom: 10px;
  box-shadow: 0 0px 0px 0px white, 0 0px 0px 0px white, 5px 0 20px -4px rgb(80 97 141), 5px 0 5px -4px rgb(193 193 193)
}
#dvMain table{
  margin: 0 auto;
  margin-top: 8px;
}
#dvMain a.hightlight{
  background-color:#dd1a2a; 
  color: white;
  border-bottom: none;
  text-decoration: none;
}

#dvFilters{
  width: auto;
  text-align: left;
  background: #f6f6f6;
  padding: 12px 20px;
}
#dvReservedFilters, #dvCustomFilters{
  padding: 3px 0px;
}

#dvReservedFilters a{
  margin-right: 5px;
  width: 100px;
  cursor: pointer;
  color: #085dc4;
  text-decoration: none;
  font-size: 13px;
}
#dvCustomFilters span.delButton{
  margin-right: 10px;
}
#dvCustomFilters span.delButton a{
  color: #dd1a2a;
  border-bottom: 0px;
  text-decoration: none;
  padding: 3px 4px;
}
#dvCustomOptions select{
  height: 24px;
}
#dvCustomFilters a{
  color: #105f42;
  text-decoration: none;  
  font-size: 13px;
}
#dvCustomFilters span {
  /* background-color: chartreuse;
  margin-bottom: 40px !important; */
}

#dvHints{
  margin: 12px auto 8px auto;
}
#divOperationBar{
  margin: 12px auto;
}
#divOperationBar button{
  margin-right: 5px;
  width: 100px
}
#dvCustomOptions select, #dvCustomOptions button{
  margin-right: 5px;
  width: 100px;
}

#dvCustomOptions{
  padding: 8px 20px;
}

#dvCustomOptions input{
  margin-right: 5px;
}
#dvLoadingTips{
  position: absolute; right: 10px; top: 70px; color: #dd1a2a
}
#dvContent{
  border-top: 1px solid #eeeeee;
  padding: 8px;
  padding-left: 20px;
}


table thead tr {
  height: 35px;
  background: #334166;
}
table thead th {
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
  padding: 4px  8px;
}
table {
  border-spacing: 1;
  border-collapse: collapse;
  background: #f6f6f6;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

tbody tr {
  font-size: 13px;
  color: #555555;
  line-height: 1.2;
  font-weight: unset;
}
tbody tr.highlight{
  background: #e710101a!important;
}
tbody tr.o-alert{
  background: rgb(251, 243, 213)!important;
}

td {
  display: table-cell;
  vertical-align: inherit;
  padding: 4px  2px;
}
td.flag-wrapper{
  display: flex;
  align-items:center;
  padding-top: 7px;
}
td.flag-wrapper img{
  margin-right: 5px;
}
tbody tr:nth-child(even) {
  background: #f5f5f5
}
tbody tr:nth-child(odd) {
  background: #FFF
}




#txtContent{
  width: 11px;
  height: 11px;
}
#dvLogin{
  margin: 20px auto;
}